__pycache__/
.vscode
.env
data_output/*
data_output_canary/*
photos/*
photos_canary/*
material_bank/*
material_bank_exp
material_bank_original
colored_material_bank/*
benchmark_results/*
old_json_files
ip_adapter/*
IP-Adapter/*
models/*
sdxl_models/*