__pycache__/
.vscode
.env
data_output/*
photos/*
zest_code/*
material_bank/*
material_bank_exp
material_bank_original
colored_material_bank/*
zest_benchmark_results/*
old_json_files
zest_comparison_results/*
zest_nlp_results/*